* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #4484d8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    background-color: yellow;
    width: 80%;
    margin: 1rem 0 1rem 0;
}

.container-card {
    width: 20rem;
    height: 30rem;
    border: groove 4px #043e89;
    border-radius: 15px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-character {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 50%;
    object-fit: contain;
}

.name-character {
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    color: #ebeb08;
    text-shadow: 0 0 10px #1010ac;
}

.quote-character {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
    padding: 0.5rem;
    color: #b9f3e8;
}

button {
    width: 12rem;
    height: 3rem;
    border-radius: 15px;
    color: #1010ac;
    font-weight: 500;
    cursor: pointer;
    margin-top: 1rem;
}

button:hover,
button:focus {
    background-color: #ebeb08;
    color: #4484d8;
    font-weight: 800;
}